body {
    margin: 0;
    font-family: Arial, sans-serif;
}

h1 {
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 3%;
    font-size: 300%;
}
h3 {
    font-size: 150%;
    line-height: 200%;
}

/*  
.left-container {
    position: relative;
    width: 70%;
    height: 30%;
    background-image: url(../assets/home-wallpaper.jpg);
    background-size: cover;
}
*/

/* Center everything and make the layout clean */
.left-container {
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.left-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 300%;
}

.left-container .content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 100%;
    gap: 20px; /* Add a gap between the image and text */
}

.left-container .side-pic img {
    max-width: 100%;
    height: auto;
    margin-right: 10px; /* Adjust this value as needed */
}


.left-container .text {
    max-width: 50%; /* Adjust this value as needed */
    text-align: justify;
}




/* Center everything and make the layout clean */
.right-container {
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.right-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 300%;
}

.right-container .content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 100%;
    gap: 20px; /* Add a gap between the image and text */
}

.right-container .side-pic img {
    max-width: 100%;
    height: auto;
    margin-left: 10px; /* Adjust this value as needed */
}


.right-container .text {
    max-width: 50%; /* Adjust this value as needed */
    text-align: justify;
}










.header {
    width: 99%;
    padding: 0.5%;
    background-color: #242625;
    color:white;
}
  
.important {
    font-style: oblique;
}
  
.home-button {
    background-color: #242625;
    color: white;
    border: none;
    padding: 10px 20px; /* Increase the padding to make the button bigger */
    margin: 10px;
    font-size: 15px; /* Increase the font size to make the text inside the button bigger */
    transition: background-color 0.3s ease, color 0.3s ease;
    text-align: center;
}
  
.home-button:hover {
    background-color: white;
    color: #242625;
}
  

footer {
    background-color: black;
    color: rgb(45, 45, 45);
    padding: 100px;
    text-align: center;
}